body{
    background: linear-gradient(rgb(0, 0, 100), rgb(0, 0, 0));
}
header{
    min-height: 100vh;
}
.section_clara{
    background: linear-gradient(rgb(52, 52, 109), rgb(70, 67, 67)); 
}
.section_clara img{
    box-shadow: 5px 10px 20px black;
}
img{
    width: 35rem;
}
.navbar{
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 25;
}
h1, h2{
    animation: titulo;
    animation-duration: 3s;

}
.vector{
    animation: vector;
    animation-duration: 3s;
    width: 30rem;
}
h1{
    font-size: 5.3em;
    font-weight: 100;
}
h2{
    font-size: 1.5em;
    font-weight: 100;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-size: 2.8em;
    color: #fff;
    cursor: pointer;
}
li{
    list-style: none;
}
.p_razon_ser{
    color: #fff;
    font-size: 1.5em;
    text-align: justify;
}

.b{
    border: 2px solid red;
}
.cerrar{
    display: none;
}

form label{
    color: #fff;
    font-size: 1.3em;
}
form{
    background: linear-gradient(rgb(0, 0, 100), rgb(0, 0, 0));
    box-shadow: 5px 10px 20px black;
    width: 50%;
}

@media screen and (max-width: 800px){
    form{
        width: 100%;
    }
    h1{
        font-size: 5em;
    }
}
@media screen and (max-width: 600px){
    img{
        width: 30rem;
    }
    .vector{
        width: 25rem;
    }
    h1{
        font-size: 4.5em;
    }
}
@media screen and (max-width: 400px){
    img{
        width: 22rem;
    }
    .vector{
        width: 20rem;
    }
    h1{
        font-size: 3em;
    }
}
@keyframes titulo{
    0%{
        opacity: 0;
        transform: translateX(-300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes vector{
    0%{
        opacity: 0;
        transform: translateX(300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}